asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
psycopg2-binary
python-dotenv
django-filter
google-auth-oauthlib
google-auth-httplib2
gunicorn
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
